# Python bytecode
__pycache__/
*.py[cod]


# Database
*.db
instance/


# Virtual environments
venv/
.env/
.venv/


# Environment variables (secrets)
.env


# Testing
.pytest_cache/
.coverage
htmlcov/


# Build / packaging
dist/
build/
*.egg-info/


# IDE/editor
.vscode/
.idea/


# macOS
.DS_Store

